.sprite0{
    height:83px;
    width:76px;
    background:url(sprites.jpg) -225px -1px no-repeat;
}
    
.sprite1{
    height:72px;
    width:69px;
    background:url(sprites.jpg) -258px -82px no-repeat;
}
    
.sprite2{
    height:75px;
    width:75px;
    background:url(sprites.jpg) -261px -154px no-repeat;
}
    
.sprite3{
    height:75px;
    width:71px;
    background:url(sprites.jpg) -128px -233px no-repeat;
}
    
.sprite4{
    height:73px;
    width:67px;
    background:url(sprites.jpg) -203px -314px no-repeat;
}
    
.sprite5{
    height:72px;
    width:64px;
    background:url(sprites.jpg) -232px -459px no-repeat;
}
    